* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  head {
    display: none;
  }
  main {
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 100vh;
  }
  .head_er {
    background: rgb(45, 87, 137);
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    justify-content: center;
    z-index: 1200;
  }
  .headContent {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    width: 100%;
    max-width: 900px;
  }
  .bodyContent {
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    width: 100%;
    max-width: 900px;
    gap: 10px;
  }
  .merchantHeader {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 900px;
  }
.merchantContent {
    /* flex: 1 1 70px;
    display: flex;
    justify-content: center;
    flex-direction: column; */  

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* padding: 12px; */
    width: 100%;
    max-width: 900px;
}