* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFF;
}

a {
  text-decoration: none;
}

a:hover{
  opacity: 0.75;
}

li {
  list-style: none;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100vw;
  padding: 0 20px;
  background-color: #162763; 
}

.logo{
  content: url('/media/align_borger.webp');
  height: 50px;
  cursor: pointer;
}

.logo:hover{
  opacity: 0.75;
}

.alink{
  color: #FFF;
  font-weight: 700;
  font-size: 20px;
}

.mr-50{
  margin-right: 50px;
}

.mt-20{
  margin-top: 20px;
}

#title{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}

.title{
  display: flex;
  flex-direction: column;
}

h1{
  color: #3D3D3D;
  font-size: 70px;
  font-weight: 900;
}

#type{
  color: #162763;
}

button{
  padding: 20px 30px;
  background-color: #97FD12;
  color: #162763;
  font-size: 16px;
  font-weight: 500;
}
