* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F3F9F9;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: calc(100vw - 40px);
  padding: 0 20px;
  background-color: #2E4E74; 
}

.logo{
  content: url('/media/align_borger.webp');
  height: 30px;
}

.alink{
  color: #FFF;
  font-weight: 700;
  font-size: 20px;
}

.mr-50{
  margin-right: 50px;
}